body {
  margin: 0;
  padding: 0;
}
.buscador {
  /* margin-left: 200px; */
  margin-right: 10px;
  border-radius: 20px;
  border: #ebb1e6 solid 2px;
  padding: 3px;
}
.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navList {
  display: flex;
  gap: 40px;
  margin: 0;
}
.navList li {
  list-style: none;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  margin-right: -10px;
}
.navbar h2 {
  color: #884182;
  font-size: 30px;
  margin: 0;
}
.nav-izq img {
  width: 50px;
  margin: 10px;
}
.nav-izq {
  display: flex;
  align-items: center;
  margin: 0 0 0 10px;
}
.favoritos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favoritos-container img {
  width: 35px;
  margin-left: -30px;
}
.favoritos-container button {
  border-style: none;
  border: #f7ebf6;
  background-color: rgb(255, 255, 255);
  margin-left: 20px;
}
.portada {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 15px;
}
.portada img {
  width: 90%;
  object-fit: cover;
  border-radius: 10px;
}
.card {
  border-radius: 12px;
  background-color: #f7ebf6;
  box-shadow: 0 0 10px rgba(207, 154, 154, 0.384);
}
.card-container {
  /* background-color: #884182; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  padding: 20px;
  /* margin: 15px; */
}
.card img {
  width: 200px;
  min-height: 200px;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
  padding: 20px;
}

.card button,
p,
h4,
h2 {
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.barra {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.footer {
  background-color: #ebb1cc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.footer li {
  list-style: none;
}
.footer input {
  border-style: double;
  background-color: #ebb1cc;
}

.card button {
  background-color: #ebb1e6;
  border-radius: 20px;
  border: none;
  padding-inline: 20px;
}

.favoritos-container {
  display: flex;
  flex-direction: column;
}

.formulario {
  position: absolute;
  top: 60px;
  left: 250px;
  background-color: white;
  padding: 10px;
  border: 1px solid pink;
  border-radius: 8px;
  /* z-index: 10; */
}

.favoritos {
  position: absolute;
  top: 60px;
  left: 250px;
  background-color: white;
  padding: 10px;
  border: 1px solid pink;
  border-radius: 8px;
  /* z-index: 10; */
}
