* {
  background-color: #faeaf9;
  font-family: "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
}

.header h1 {
  display: flex;
  justify-content: first baseline;
  padding-left: 20px;
  font-size: 30px;
  background-color: #f1ccee;
}
.card {
  border-radius: 12px;
  padding: 1rem;
  background-color: #f7ebf6;
  box-shadow: 0 0 10px rgba(207, 154, 154, 0.384);
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.card img {
  width: 200px;
  margin-left: 60px;
  min-height: 200px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card button {
  background-color: pink;
  color: #030303;
  border-radius: 8px;
  border-color: pink;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 25px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.boton:active {
  background-color: #e089dc;
}
